<div class="about-container">
    <img class="about-background" src="../assets/AboutBackground.png" />
    <div class="event-container">
        <div class="event-place">
            <img class="event-place-background" src="../assets/EventPlace.png" />
        </div>
        <div class="contact-info">
            <span>კონტაქტი</span>
            <div class="contact-details-container">
                <div class="contact-details">
                    <div class="message-icon icon">
                        <img class="message-icon-image icon-image" src="../assets/Message.png" />
                    </div>
                    <div class="text">
                        info@demlab.ge
                    </div>
                </div>
                <div class="contact-details">
                    <div class="phone-call-icon icon">
                        <img class="phone-icon-image icon-image" src="../assets/PhoneCall.png" />
                    </div>
                    <div class="text">
                        +995 577 191417
                    </div>
                </div>
                <div class="contact-details">
                    <div class="facebook-icon icon">
                        <img class="facebook-icon-image icon-image" src="../assets/Facebook.png" />
                    </div>
                    <div class="text">
                        Hack Outside the Box
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>