<div class="partners-container">
    <img class="partners-background" src="../assets/Logos/background.png" />
    <div class="logos-container">
        <div class="row">
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/FirstRow/gerbi.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/FirstRow/Geostat-logo.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/FirstRow/MICS.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/FirstRow/NCDC.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/FirstRow/ForEveryChild_Signature_ShortContainer_Tight_RGB.png" />
            </div>
        </div>
        <div class="row">
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/SecondRow/Swiss.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/SecondRow/Logo-AFD.jpg.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/SecondRow/Logo-ISS.jpg.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/SecondRow/World_Health_Organization_logo_logotype.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/SecondRow/UNDP_Logo-Blue w Tagline-ENG.png" />
            </div>
        </div>
        <div class="row">
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/ThirdRow/USAID Logo Horizontal_RGB_600.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/ThirdRow/World Bank.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/ThirdRow/UNFPA.png" />
            </div>
            <div class="logo-container">
                <img class="logo" src="../assets/Logos/ThirdRow/Sweden.png" />
            </div>
        </div>
    </div>
</div>