<div class="registration1-container">
    <div class="background">
        <img class="background-image" src="../assets/FirstPage.png" />
    </div>
    <div class="registration1-background">
        <div class="x-button" (click)="onCloseClick()"></div>
        <div class="content-container">
            <div class="first-assignement-header assignement">
            </div>
            <div class="content assignement">
                <div class="pargraph">ყოჩაღი ხარ.</div>
                <div class="pargraph">ადევნე თვალი ელ-ფოსტას ,</div>
                <div class="pargraph">სულ მალე შეგეხმიანებით</div>
            </div>
        </div>
        <img class="background-image" src="../assets/Registration1Background.png" />
    </div>
</div>