<div class="registration1-container">
    <div class="registration1-background">
        <div class="x-button" (click)="onCloseClick()"></div>
        <div class="content-container">
            <div class="first-assignement-header assignement">
                მესამე დავალება
            </div>
            <div class="content assignement">
                <div class="input-wrapper">
                    <span class="header">გუნდის წევრების რაოდენობა</span>
                    <input class= "input" type="text">
                </div>
                <div class="input-wrapper">
                    <span class="header">სახელი, გვარი</span>
                    <input class= "input" type="text">
                </div>
                <div class="input-wrapper">
                    <span class="header">ასაკი</span>
                    <input class= "input" type="text">
                </div>
                <div class="input-wrapper">
                    <span class="header">ელ-ფოსტა</span>
                    <input class= "input" type="text">
                </div>
                <div class="input-wrapper">
                    <span class="header">საკონტაქტო ნომერი</span>
                    <input class= "input" type="text">
                </div>
                <div class="input-wrapper">
                    <span class="header">FB მისამართი</span>
                    <input class= "input" type="text">
                </div>
            </div>
            <div class="next-button-container">
                <div class="next-button" (click)="onNextClick()">
                    <img class="next-button-image" src="../assets/Next.png" />
                </div>
            </div>
        </div>
        <img class="background-image" src="../assets/Registration1Background.png" />
    </div>
</div>